In [2]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import RobustScaler

In [3]:
data = pd.DataFrame({'z': list(range(10,100)), 'x': list(range(10,100)), 'y': list(range(10,100))})

In [4]:
data = pd.read_csv('./csv/data.csv')

In [5]:
data.shape

(18207, 89)

In [61]:
data.head()

    z   x   y
0  10  10  10
1  11  11  11
2  12  12  12
3  13  13  13
4  14  14  14

In [62]:
data[['x','y']]

     x   y
0   10  10
1   11  11
2   12  12
3   13  13
4   14  14
5   15  15
6   16  16
7   17  17
8   18  18
9   19  19
10  20  20
11  21  21
12  22  22
13  23  23
14  24  24
15  25  25
16  26  26
17  27  27
18  28  28
19  29  29
20  30  30
21  31  31
22  32  32
23  33  33
24  34  34
25  35  35
26  36  36
27  37  37
28  38  38
29  39  39
..  ..  ..
60  70  70
61  71  71
62  72  72
63  73  73
64  74  74
65  75  75
66  76  76
67  77  77
68  78  78
69  79  79
70  80  80
71  81  81
72  82  82
73  83  83
74  84  84
75  85  85
76  86  86
77  87  87
78  88  88
79  89  89
80  90  90
81  91  91
82  92  92
83  93  93
84  94  94
85  95  95
86  96  96
87  97  97
88  98  98
89  99  99

[90 rows x 2 columns]

In [51]:
def pca_transform(data):
    return PCA(n_components=1).fit_transform(RobustScaler().fit_transform(data))

In [52]:
new_data = pca_transform(data)

In [1]:
new_data[:10]

NameError: name 'new_data' is not defined